<launch>
  <arg name="config" default="$(find target_reporting)/config/target_results.rviz" />
  <arg name="observation_topic" default="/UAV0/target_reporting/observation" />
  <arg name="marker_topic" default="/UAV0/target_reporting/markers" />
  <arg name="marker_frame" default="world" />
  <arg name="cloud_topic" default="/camera/depth/color/points" />
  <arg name="object_cloud_topic" default="/UAV0/target_reporting/detected_object_cloud" />
  <arg name="object_cloud_radius" default="0.25" />
  <arg name="open_rviz" default="true" />

  <node pkg="target_reporting" type="target_rviz_marker_node.py" name="target_rviz_marker" output="screen">
    <param name="observation_topic" value="$(arg observation_topic)" />
    <param name="marker_topic" value="$(arg marker_topic)" />
    <param name="marker_frame" value="$(arg marker_frame)" />
    <param name="cloud_topic" value="$(arg cloud_topic)" />
    <param name="object_cloud_topic" value="$(arg object_cloud_topic)" />
    <param name="object_cloud_radius" value="$(arg object_cloud_radius)" />
  </node>

  <node if="$(arg open_rviz)" pkg="rviz" type="rviz" name="target_results_rviz"
        args="-d $(arg config)" output="screen" />
</launch>
