<?xml version="1.0"?>
<launch>
  <!-- 2026-07-27: 双机 FAST-LIO 的传感器、输出和 TF 前缀统一为 UAV0/UAV1。 -->
  <include file="$(find fast_lio)/launch/mapping_mid360.launch">
    <arg name="rviz" value="false" />
    <arg name="vehicle_ns" value="UAV0" />
    <arg name="lidar_topic" value="/UAV0/scan" />
    <arg name="imu_topic" value="/UAV0/imu_gazebo" />
    <arg name="odom_topic" value="/UAV0/fast_lio/Odometry" />
    <arg name="cloud_topic" value="/UAV0/fast_lio/cloud_registered" />
    <arg name="cloud_body_topic" value="/UAV0/fast_lio/cloud_registered_body" />
    <arg name="cloud_effected_topic" value="/UAV0/fast_lio/cloud_effected" />
    <arg name="laser_map_topic" value="/UAV0/fast_lio/Laser_map" />
    <arg name="path_topic" value="/UAV0/fast_lio/path" />
    <arg name="world_frame" value="UAV0/camera_init" />
    <arg name="body_frame" value="UAV0/body" />
  </include>

  <!-- 2026-07-27: 第二套 FAST-LIO 的输入、输出和 TF 全部固定到 UAV1。 -->
  <include file="$(find fast_lio)/launch/mapping_mid360.launch">
    <arg name="rviz" value="false" />
    <arg name="vehicle_ns" value="UAV1" />
    <arg name="lidar_topic" value="/UAV1/scan" />
    <arg name="imu_topic" value="/UAV1/imu_gazebo" />
    <arg name="odom_topic" value="/UAV1/fast_lio/Odometry" />
    <arg name="cloud_topic" value="/UAV1/fast_lio/cloud_registered" />
    <arg name="cloud_body_topic" value="/UAV1/fast_lio/cloud_registered_body" />
    <arg name="cloud_effected_topic" value="/UAV1/fast_lio/cloud_effected" />
    <arg name="laser_map_topic" value="/UAV1/fast_lio/Laser_map" />
    <arg name="path_topic" value="/UAV1/fast_lio/path" />
    <arg name="world_frame" value="UAV1/camera_init" />
    <arg name="body_frame" value="UAV1/body" />
  </include>
</launch>
