<launch>
  <!-- 简单控制器先发内部话题，由降落仲裁器唯一转发到 MAVROS。 -->
  <arg name="vehicle_ns" default="UAV0"/>
  <arg name="node_name" default="simple_controller"/>
  <arg name="topic_prefix" default="$(eval '/' + arg('vehicle_ns').strip('/'))"/>
  <arg name="planner_enable_height" default="0.5"/>
  <arg name="landing_search_state_topic" default="/landing_diff_search_manager/state"/>

  <node pkg="exploration_control" type="cxr_egoctrl_v1"
        name="$(arg node_name)" output="screen" required="true">
    <param name="vehicle_ns" value="$(arg topic_prefix)"/>
    <param name="planner_enable_height" value="$(arg planner_enable_height)"/>
    <param name="landing_search_state_topic" value="$(arg landing_search_state_topic)"/>
    <param name="max_cmd_speed_xy" value="0.20"/>
    <param name="landing_search_max_cmd_speed_xy" value="0.50"/>
    <param name="landing_search_max_reverse_speed" value="0.50"/>
    <param name="setpoint_topic"
           value="$(arg topic_prefix)/control/position_setpoint"/>
  </node>
</launch>
